body {
    width: 60em;
    margin: auto;
}

h1 {
    padding-top: 8px;
    font-size: 5em;
}
.banner {
    height: 6em;
}
.navigation {
    padding-bottom: 5px;
}
.navigation .btn {
    width: 7em;
}

h1, h2, h3 {
    font-family: Impact, sans-serif;
}

.content {
    padding: 4px;
    border: dotted thin #d3d3d3;
}

.blog-preview div {
    padding: 3px;
    border: thin dotted #000000;
    max-height: 200px;
    overflow: hidden;
}

.blog-preview {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    border: thin solid #2f4f4f;
}
