@model PersonalSite.Models.HomeViewModel
@{
    ViewBag.Title = "Index";

    string archiveNames = "";

    foreach (var metadata in Model.Metadatas)
    {
        if (Model.Previews.Any(p => p.Name == metadata.Name))
        {
            continue;
        }

        archiveNames = archiveNames + "" + metadata.Name + ",";
    }

    archiveNames = (archiveNames + "#").Replace(",#", "");
}

<div ng-controller="MainCtrl" ng-init="archiveNameString = '@Html.Raw(archiveNames)'">

    @foreach (var preview in Model.Previews)
    {
        <div class="blog-preview">

            <h3 style="display: inline-block;">@preview.Name</h3>

            <a href="/Blog/@preview.Name" class="btn btn-success btn-xs pull-right">Read more</a>

            <h5 class="date">@preview.PublishedDisplay</h5>

            <div>
                @Html.Raw(preview.Content)
            </div>

        </div>
    }

    <div ng-repeat="blog in displayed" class="blog-preview">

        <h3 style="display: inline-block;">{{blog.Name}}</h3>

        <a href="/Blog/{{blog.Name}}" class="btn btn-success btn-xs pull-right">Read more</a>

        <h5 class="date">{{blog.PublishedDisplay}}</h5>

        <div ng-bind-html="blog.Content | unsafe"></div>

    </div>

    <div ng-hide="displayed.length === archiveNames.length">
        <button class="btn btn-block btn-info" ng-click="showMoreBlogs()">More</button>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('#homeTab').addClass('active');
    });

</script>
