@model List<PersonalSite.Models.BookViewModel>
@{
    ViewBag.Title = "Reading";
}

<style>
    img {
        width: 70px;
        height: auto;
    }

    .reading sub {
        margin-left: 5px;
    }

    .reading {
        border: thin black solid;
        padding: 5px;
        clear: both;
        min-height: 120px;
        width: 85%;
        margin: auto;
        margin-top: 4px;
        position: relative;
    }

        .reading img {
            float: left;
        }
        
        .reading h4 {
            padding: 0;
            margin: 0;
            margin-bottom: 3px;
            margin-top: -5px;
        }

        .reading h4 sub{
            display: block;
            clear: both;
            padding-top: 5px;
        }

        .reading p {
            font-size: .9em;
        }

        .reading img:hover {
            border: medium inset #222;
        }
        
        .reading > a {
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .reading > div {
            margin: 0;
            margin-left: 80px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
</style>

@* Determine if I am going through with the amazon associate program: sciosoft-20 *@
@* [Insert your name] is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to [insert the applicable site name (amazon.com or myhabit.com)]. *@

@foreach (var book in Model)
{
    <div class="reading">
        @Html.Raw(book.Content)
    </div>
}


<script type="text/javascript">

    $(document).ready(function () {
        $('#readingTab').addClass('active');
    });

</script>
