<p>
    This is a quick demo to show how you can use local storage or cookies to
    save form state in a browser so that a user hasn't lost progress.
    I write this in response to a 
    <a href="http://stackoverflow.com/questions/32189701/save-controller-state-on-page-refresh/32189745#32189745" target="_blank">
        StackOverflow question</a>.
</p>

<p>
    You can do this with a complex object, or with a simple value as well.
</p>

<p>
    The source code for the third party local storage module can be found 
    <a href="https://github.com/grevory/angular-local-storage" target="_blank">here</a>.
</p>


<style>
    .mini-demo {
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px;
        background-color: #B0B0B0;
        border-radius: 5px;
    }

        .mini-demo .fields {
            width: 160px;
            display: inline-block;
        }

            .mini-demo .fields label {
                display: block;
            }

            .mini-demo .fields input, .mini-demo .fields textarea {
                max-width: 100%;
            }

        .mini-demo .narrative {
            width: 100px;
            display: inline-block;
            text-align: center;
            margin-left: 4px;
        }
</style>

<div ng-include="'/js/examples/save-state/saveStateTemplate.html'"></div>

<p>
    The controller code below consumes the localStorageService and exposes a method
    responsible for saving and retrieving the model from the service. 
    That method is then called in ng-change on each input with an ng-model.
</p>

<pre>
    <code class="language-javascript">
        
(function (ng) {
    'use strict';

    var saveStateController = function ($scope, localStorageService) {

        var username = 'first_last';

        var key = username + '_formName';

        var modelString = localStorageService.get(key);

        if (modelString) {
            $scope.model = JSON.parse(modelString)
        }

        $scope.model = $scope.model || {
            name: '',
            number: null,
            biography: ''
        };

        $scope.saveState = function () {
            localStorageService.set(key, JSON.stringify($scope.model));
        };

    };

    ng.module('SpikeBytes')
        .controller('saveStateController', ['$scope', 'localStorageService', saveStateController]);

}(angular));
    </code>
</pre>

<p>
    For good measure, here is the html as well: 
</p>

<pre>
    <code class="language-html">
&lt;div ng-controller=&quot;saveStateController&quot; class=&quot;mini-demo&quot;&gt;

    &lt;span class=&quot;fields&quot;&gt;
        &lt;div&gt;
            &lt;label&gt;Name: &lt;/label&gt;
            &lt;input type=&quot;text&quot; ng-model=&quot;model.name&quot; ng-change=&quot;saveState()&quot;/&gt;
        &lt;/div&gt;

        &lt;div&gt;
            &lt;label&gt;Number: &lt;/label&gt;
            &lt;input type=&quot;numeric&quot; ng-model=&quot;model.number&quot; ng-change=&quot;saveState()&quot;/&gt;
        &lt;/div&gt;

        &lt;div&gt;
            &lt;label&gt;Biography: &lt;/label&gt;
            &lt;textarea ng-model=&quot;model.biography&quot; ng-change=&quot;saveState()&quot;&gt;&lt;/textarea&gt;
        &lt;/div&gt;
    &lt;/span&gt;

&lt;/div&gt;

    </code>
</pre>
