SpikeBytes/bin/Newtonsoft.Json.xml
SpikeBytes/bin/SpikeBytes.dll.config
SpikeBytes/bin/System.Web.Helpers.xml
SpikeBytes/bin/System.Web.Mvc.xml
SpikeBytes/bin/System.Web.Razor.xml
SpikeBytes/bin/System.Web.WebPages.Deployment.xml
SpikeBytes/bin/System.Web.WebPages.Razor.xml
SpikeBytes/bin/System.Web.WebPages.xml
SpikeBytes/obj/Debug/SpikeBytes.csproj.FileListAbsolute.txt
SpikeBytes/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SpikeBytes/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SpikeBytes/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
