.transitional {
    display: none;
}

.mobile {
    display: none;
}

@media (max-width: 57em) {
  .navigation, .header-content, .content-section {
      width: 100%;
  }  
  .content {
      width: 98%;
  }
}

@media (max-width: 47em) {
    .desktop, .mobile {
        display: none;
    }
    .content-section {
        margin-top: -55px;
    }
    .transitional {
        display: initial;
    }
    .transitional-navigation {
        width: 99%;
    }
    .navbar-center {
        margin: auto;
    }
}

/*@media (max-width: 30em) {
    .desktop, .transitional {
        display: none;
    }
    .mobile {
        display: initial;
    }
}*/