
<div class="post-header">
    <h2>
        <span>
            <a ng-href="/#/blog/{{blog.name}}">{{blog.name}}</a>
        </span>
    </h2>
    <span class="date">{{blog.published}}</span>
</div>

<article class="post">

    <div style="display: block;">
        <div ng-include="blog.url"></div>
    </div>

    <div ss-social-share
         ss-url="www.scionsoftware.com/#/blog/{{blog.name}}"
         ss-title="{{blog.name}}">
    </div>

</article>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'scionsoftware';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
