
<style>
    .post {
        padding-bottom: 0;
        margin-bottom: 10px;
    }

    .post-header h2 {
        margin-top: 0px;
        padding-top: 0px;
    }

    .post-share {
        margin-bottom: 25px;
    }

    .preview-interstitial-ad {
        margin-bottom: 25px;
    }

</style>

<div>

    <article ng-repeat-start="blog in displayed track by blog.name" class="post">
        <div class="post-header">
            <h2>
                <span>
                    <a ng-href="/blog/{{blog.name}}">{{blog.name}}</a>
                </span>
            </h2>
            <span class="date">{{blog.published}}</span>
        </div>

        <div style="display: block;">
            <div ng-include="blog.url"></div>
        </div>

        <div ss-social-share
             ss-url="www.scionsoftware.com/blog/{{blog.name}}"
             ss-title="{{blog.name}}">
        </div>
    </article>

    <!-- Article Interstitial -->
    <div ng-repeat-end  
         ss-google-ad 
         attr-class="preview-interstitial-ad"
         attr-ad-slot="9343168402">
    </div>

    <div ng-hide="displayed.length === archiveNames.length" style="margin-bottom: 20px;">
        <button class="btn btn-block btn-info" ng-click="showMoreBlogs()">More</button>
    </div>
</div>