.pagination .older {
    float: right;
    position: relative;
    text-align: right;
}

.pagination .newer {
    float: left;
    position: relative;
    text-align: left;
}

.post-nav-icon {
    position: absolute;
    top: 7px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #000;
    border-radius: 32px;
    color: #fff;
    letter-spacing: 0;
}

.older .post-nav-icon {
    right: 0;
}

.newer .post-nav-icon {
    left: 0;
}


.older .pager-heading {
    margin-bottom: 5px;
    color: #aaa;
    margin-right: 42px;
}

.older .pager-title {
    font-size: 150%;
    display: block;
    line-height: 1.3;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #222;
    margin-right: 42px;
}


.newer .pager-heading {
    margin-bottom: 5px;
    color: #aaa;
    margin-left: 42px;
}

.newer .pager-title {
    font-size: 150%;
    display: block;
    line-height: 1.3;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #222;
    margin-left: 42px;
}

.entry-meta {
    text-align: center;
    border-bottom: 1px solid rgba(34,34,34,0.1);
    padding-bottom: 40px;
    margin-bottom: 40px;
}

.single-sharing-btns h3 {
    margin-top: 0;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: #222;
    margin-bottom: 20px;
}


.social-share-buttons.size-large {
    margin-bottom: 5px;
}

.social-share-buttons.style-default [data-service] {
    box-shadow: 0 3px 0 rgba(0,0,0,0.05);
}

.social-share-buttons.size-large > *, .social-share-buttons.size-large > li > span {
    line-height: 32px;
    min-width: 32px;
}

.social-share-buttons.style-default > *, .social-share-buttons.style-default > li > span {
    border: 1px solid #ddd;
    background-color: #fff;
}

.social-share-buttons > *:first-child {
    margin-left: 0;
}

.social-share-buttons > *, .social-share-buttons > li > span {
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    text-align: center;
    position: relative;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    -ms-border-radius: 1;
    -o-border-radius: 1;
    border-radius: 1;
    transition: color linear .2s,background-color linear .2s,border-color linear .2s;
    -webkit-transition: color linear .2s,background-color linear .2s,border-color linear .2s;
}

.social-share-buttons > * {
    display: inline-block;
    margin: 5px 8px;
}

.social-share-buttons.size-large.style-default label {
    font-size: 12px;
}

.social-share-buttons.style-default label {
    text-transform: uppercase;
}

.single-sharing-btns label {
    letter-spacing: .1em;
}

.social-share-buttons label {
    margin: 0 0 0 10px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1;
    vertical-align: middle;
    cursor: pointer;
}

strong.tag-heading {
    color: #222;
    text-transform: uppercase;
    font-size: 12px;
}

    strong.tag-heading .fa {
        margin-right: 5px;
    }

.entry-tags .gray-2-secondary a {
    color: #aaa;
    text-transform: uppercase;
    font-size: 12px;
}

.entry-tags.gray-2-secondary {
    margin-top: 20px;
}


/*************************************************
*	10. Tablet									 *
*************************************************/
@media only screen and (min-width: 768px) and (max-width: 960px) {

    .container {
        width: 726px;
    }

    #navigation-wrapper {
        display: none;
    }

    #logo img {
        max-width: 726px;
        height: auto;
    }

    .slicknav_menu {
        display: block;
    }

    .post-image img {
        width: 726px;
        height: auto;
    }


    .post-image.audio iframe {
        width: 726px;
        height: auto;
    }

    .container.sp_sidebar .post-image.audio iframe {
        width: 476px;
        height: auto;
    }

    .item-related {
        width: 230px;
        margin-right: 17px;
    }

    .post-pagination .prev-post {
        width: 383px;
    }

    .post-pagination .next-post {
        width: 383px;
    }



    #widget-area .widget, #sidebar .widget {
        width: 230px;
        margin-right: 17px;
    }

        #widget-area .widget img, #sidebar .widget img {
            max-width: 230px;
            height: auto;
        }

        #widget-area .widget iframe, #sidebar .widget iframe {
            max-width: 230px !important;
            height: auto;
        }

    #footer-logo img {
        max-width: 726px;
        height: auto;
    }

    #footer-social a {
        margin: 0 15px;
    }

        #footer-social a i {
            height: 32px;
            width: 32px;
            line-height: 32px;
            margin-right: 0;
            font-size: 14px;
        }

        #footer-social a span {
            display: none;
        }

    .wpcf7 input {
        width: 208px;
    }

    .sp-grid li {
        width: 353px;
    }

        .sp-grid li:nth-child(3n+3) {
            margin-right: 16px;
        }

        .sp-grid li:nth-child(2n+2) {
            margin-right: 0;
        }

    .container.sp_sidebar #main {
        width: 476px;
        margin-right: 20px;
    }

    .container.sp_sidebar #sidebar {
        width: 230px;
    }

        .container.sp_sidebar #sidebar .widget {
            width: 168px;
        }

    .container.sp_sidebar .sp-grid li {
        width: 228px;
    }

    .container.sp_sidebar .item-related {
        width: 149px;
        margin-right: 14px;
    }

        .container.sp_sidebar .item-related:last-child {
            margin-right: 0;
        }

        .container.sp_sidebar .item-related h3 a {
            font-size: 12px;
            letter-spacing: 1px;
        }

    .container.sp_sidebar #respond textarea {
        width: 93%;
    }
}

/*************************************************
*	Mobile Portrait								 *
*************************************************/

@media only screen and (max-width: 767px) {

    .container {
        width: 320px;
    }

    #navigation-wrapper {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }

    #logo img {
        max-width: 320px;
        height: auto;
    }

    .post-header h1 a, .post-header h2 a, .post-header h1 {
        font-size: 22px;
        letter-spacing: 2px;
    }

    .post-image img {
        width: 320px;
        height: auto;
    }

    .post-image.audio iframe {
        width: 320px;
        height: auto;
    }

    .item-related {
        width: 320px;
        margin-bottom: 30px;
    }

    .share-box {
        width: 46px;
        height: 36px;
        line-height: 36px;
        margin: 0 4px;
    }

    .post-pagination .prev-post {
        width: 320px;
    }

    .post-pagination .next-post {
        width: 320px;
    }

    #respond textarea {
        width: 90%;
    }

    .thecomment .author-img {
        display: none;
    }

    #widget-area .widget, #sidebar .widget {
        width: 320px;
        margin-right: 32px;
        float: left;
        margin-bottom: 35px;
    }

    #footer-logo img {
        max-width: 320px;
        height: auto;
    }

    #footer-social a i {
        height: 28px;
        width: 28px;
        line-height: 28px;
        margin-right: 0;
        font-size: 12px;
    }

    #footer-social a {
        margin: 0 5px;
    }

        #footer-social a span {
            display: none;
        }

    .wpcf7 textarea {
        width: 94%;
    }

    .sp-grid li {
        width: 320px;
    }

        .sp-grid li:nth-child(3n+3) {
            margin-right: 0;
        }

        .sp-grid li:nth-child(2n+2) {
            margin-right: 0;
        }

    .container.sp_sidebar #main {
        width: 320px;
        margin-right: 0;
    }

    .container.sp_sidebar #sidebar {
        width: 320px;
    }

        .container.sp_sidebar #sidebar .widget {
            width: 258px;
        }

    .container.sp_sidebar .item-related {
        width: 320px;
        margin-bottom: 30px;
    }
}

/*************************************************
*	10. Landscape								 *
*************************************************/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .container {
        width: 480px;
    }

    #logo img {
        max-width: 480px;
        height: auto;
    }

    .post-image img {
        width: 480px;
        height: auto;
    }

    .post-image.audio iframe {
        width: 480px;
        height: auto;
    }

    .item-related {
        width: 480px;
        margin-bottom: 30px;
    }

    .share-box {
        width: 55px;
        height: 42px;
        line-height: 42px;
        margin: 0 10px;
    }

    .post-pagination .prev-post {
        width: 480px;
    }

    .post-pagination .next-post {
        width: 480px;
    }

    #widget-area .widget, #sidebar .widget {
        width: 480px;
        margin-right: 32px;
        float: left;
        margin-bottom: 35px;
    }

    #footer-logo img {
        max-width: 480px;
        height: auto;
    }

    #footer-social a {
        margin: 0 12px;
    }

        #footer-social a i {
            height: 32px;
            width: 32px;
            line-height: 32px;
            margin-right: 0;
            font-size: 14px;
        }

    .wpcf7 textarea {
        width: 95%;
    }

    .sp-grid li {
        width: 230px;
    }

        .sp-grid li:nth-child(3n+3) {
            margin-right: 16px;
        }

        .sp-grid li:nth-child(2n+2) {
            margin-right: 0;
        }

    .container.sp_sidebar .sp-grid li {
        width: 230px;
    }

        .container.sp_sidebar .sp-grid li:nth-child(3n+3) {
            margin-right: 16px;
        }

        .container.sp_sidebar .sp-grid li:nth-child(2n+2) {
            margin-right: 0;
        }

    .container.sp_sidebar #main {
        width: 480px;
        margin-right: 0;
    }

    .container.sp_sidebar #sidebar {
        width: 480px;
    }

        .container.sp_sidebar #sidebar .widget {
            width: 418px;
        }

    .container.sp_sidebar .item-related {
        width: 480px;
        margin-bottom: 30px;
    }
}
