
<div style="width: 100%">
    <h2>I'm not sure what you're looking for...</h2>
    <h2>but while you're here enjoy some words:</h2>
</div>

<div class="list-group">
    <ul>
        <li class="list-group-item">Empty your cup. Study great work. Expand upon it.</li>
        <li class="list-group-item">Be the change you wish to see in the world.</li>
        <li class="list-group-item">We stand and rise on the shoulders of giants.</li>
        <li class="list-group-item">I was born not knowing and have had only a little time to change that here and there.</li>
        <li class="list-group-item">The less people know, the more stubbornly they know it.</li>
        <li class="list-group-item">We can not solve our problems with the same thinking we used when we created them.</li>
        <li class="list-group-item">Honesty in small things no small thing.</li>
        <li class="list-group-item">Follow the golden rules of morality, treat others as you would like to be treated.</li>
        <li class="list-group-item">Do not speak of anything but which will benefit yourself and others. Avoid trifling discussion.</li>
        <li class="list-group-item">Live as though you have a vested interest in humanity, because you do.</li>
        <li class="list-group-item">Better yourself in one way, every day.</li>
        <li class="list-group-item">Be a good influence on yourself, and others will follow.</li>
        <li class="list-group-item">Resolve to perform what you ought; perform without fail what you resolve.</li>
    </ul>
</div>
