
<h2>About</h2>

<div style="padding: 5px;">
    <ul>
        <li>I am a hard working and empathetic person. </li>
        <li>I have vowed to change myself, and the world.</li>
        <li>I am currently gaining the skills that will allow me to do both consistently.</li>
        <li>Be a good influence on yourself, and others will follow.</li>
        <li>Empty your cup. Study great work. Expand upon it.</li>
        <li>We stand and rise on the shoulders of giants.</li>
        <li>Honesty in small things no small thing.</li>
        <li>Do not speak of anything but which will benefit yourself and others. Avoid trifling discussion.</li>
        <li>Live as though you have a vested interest in humanity, because you do.</li>
        <li>Better yourself in one way, every day.</li>
    </ul>
</div>