<style>
    img {
        height: 100px;
        width: auto;
    }
    .reading sub {
        margin-left: 5px;
    }
    .reading {
        border: thin black solid;
        padding: 5px;
        clear: both;
        height: 120px;
        width: 85%;
        margin: auto;
        margin-top: 4px;
    }

        .reading img {
            float: left;
        }

        .reading > div {
            float: left;
            padding: 6px;
            margin-left: 3px;
            display: inline-block;
            max-width: 85%;
        }

        .reading h4 {
            padding: 0;
            margin: 0;
            margin-bottom: 3px;
        }

        .reading p {
            font-size: .9em;
        }

        .reading > a {
            padding: 5px;
        }
        .reading img:hover {
            border: medium inset #222;
        }
</style>

<div ng-repeat="reading in readings">
    <div ng-include="reading.path" class="reading" />
</div>
