        <!--
---
titles:
  - Lies, damned lies, and progress bars
  - Progress bars aren't all liars
  - Progress bars can tell the truth too
  - Tell the truth with a progress bar
authors:
  - Colin Higgins
keywords: progress bar showing status messages
summary: "It's a running joke to say that progress indicators are just lies but we can use messaging patterns to give better indication of progress."
tags:
  - Programming
  - Messaging
  - Status
tweets:
  - "Progress bars aren't all liars."
  - "There are 3 kinds of lies. Lies, damned lies, and progress bars."
---
-->
<p>I love tracking progress. Running, cycling, watching my baby grow, reading a book. It's nice to know how far I've gone and how far I have left to go. So I love progress bars. Except most progress bars lie, which is why I also hate them. I'm having flashbacks to old installs...and updates...and windows services...and...</p>
<p>Sorry, I was back there waiting for the progress bars to finish.</p>
<div class="center-content">
	<img src="https://raw.githubusercontent.com/colin-higgins/PersonalWebsite/master/PersonalSite/img/blogs/progress/windows-copy.png" alt="Are we there yet?">
</div>
<p>Progress bars in web applications are especially troublesome because the client is disconnected from where the work is actually happening: on the server.
So we often resort to an animated gif that gives the illusion of progress being made without actually telling you exactly how much.
Expectation setting is an important aspect of keeping your users happy. They don't like being left in the dark.</p>
<h3>Are we there yet?</h3>
<p>Do you have some long-running process that your users are impatiently waiting for? Do they want to know how far along everything is while they wait?</p>
<p>Well, you're in luck!</p>
<p>Not only can you create meaningful progress bars, but they can be responsive and accurate too.
I'm going to show you how to do all of these things by implementing a progress bar using
<a href="https://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://particular.net/nservicebus" target="_blank">NServiceBus</a>.
For simplicity's sake, I'll be doing relatively trivial polling from the front-end but in practice it may be better to use something like <a href="http://signalr.net/" target="_blank">SignalR</a>.</p>
<h3>What does the result look like?</h3>
<p>There are two UI components in this sample project.
The first is a console window which displays the progress that our <strong>Message Handler</strong> has made while processing the large task.
The second UI component is the progress bar which represents the status of the large task as of the last query.
As a result, the progress bar will be slightly behind the actual process as shown here:</p>
<div class="center-content">
	<img src="https://raw.githubusercontent.com/colin-higgins/PersonalWebsite/master/PersonalSite/img/blogs/progress/progress-bar-with-service.png" alt="Are we there yet?">
</div>
<p>With this progress bar we can accurately show the user how much of the task is finished.
We can also get an idea of how quickly things are being processed based on how fast the bar fills up.</p>
<h4>What does the architecture look like?</h4>
<p>There are four conceptual pieces:</p>
<ol>
<li>The client, or <strong>Browser</strong>, portion where the progress bar is displayed</li>
<li>The server, or <strong>ASP.NET MVC</strong>, instance which facilitates the communication</li>
<li>The asynchronous message-handling process or <strong>Message Handler</strong></li>
<li>The <strong>Status Store</strong> that tracks the progress</li>
</ol>
<div class="center-content">
	<img src="https://raw.githubusercontent.com/colin-higgins/PersonalWebsite/master/PersonalSite/img/blogs/progress/progress-bar-architecture.svg" alt="Polling architecture">
</div>
<h3>A look at the HTML</h3>
<p>The HTML has three components: an input to decide how many things to do, a button to start the big task, and a styled progress bar.
The HTML also contains Angular specific markup that links the HTML to the JavaScript.
To understand the link between the HTML and the JavaScript, it's important to know that <code>ng-app</code> tells Angular which <code>module</code> to use for the application.
Later in the HTML, the <code>ng-controller</code> attribute tells Angular to use the provided <code>controller</code> to interact with the markup.
After this is done, anything available on the controller's <code>$scope</code> is also available to the portion of the view delegated to the controller.</p>
<pre><code class="language-html ng-binding">&lt;div ng-app="progressDemo" ng-controller="progressCtrl"&gt;
    &lt;div&gt;
        &lt;label&gt;Number of things to do: &lt;/label&gt;
        &lt;input type="number" ng-model="numberOfThingsToDo" /&gt; &amp;nbsp;
        &lt;button ng-click="submit()"&gt;Start Doing Things&lt;/button&gt;
    &lt;/div&gt;

    &lt;div ng-repeat="batch in batches"&gt;
        &lt;h4&gt;BatchId:  - Things to do: &lt;/h4&gt;
        &lt;div style="border: thin black solid; width: 800px;"&gt;
            &lt;div ng-style="{ 'width': batch.percentCompleteText || '0%' }" 
			     style="background-color: green; text-align: center;"&gt;
                0%
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

</code></pre>
<h3>Starting the task</h3>
<p>As you may have noticed in the HTML, the button has an attribute: <code>ng-click="submit()"</code>.
When that button is clicked, <code>$scope.submit()</code> is called in the <code>progressCtrl</code> controller.
The <code>$scope.submit()</code> function starts some big stuff, and then stores the <code>batchModel</code> to check on later.</p>
<pre><code>angular.module('progressDemo', []);

angular.module('progressDemo')
       .controller('progressCtrl', function ($scope, $http, $q, $timeout) {

    $scope.batches = [];

...

    var startBigStuff = function () {
        var deferred = $q.defer();
        $http
		    .post('/Home/StartBigStuff?howMuchStuff=' + $scope.numberOfThingsToDo)
            .then(function (batchModel) {
                deferred.resolve(batchModel);
            });
        return deferred.promise;
    };

...

    $scope.submit = function () {
        startBigStuff().then(function (response) {
            var batchModel = response.data;
            $scope.batches.push(batchModel);
            pollForStatus(batchModel);
        });
    };
});

</code></pre>
<h3>The Server Side</h3>
<p>The MVC controller contains some methods, one of which returns the view we saw in the HTML and another that starts the "big stuff".
The instance of <code>_bus</code> is an NServiceBus specific object which facilitates communication with your message handlers.
I've used dependency injection to make an instance of the bus available in my MVC controller.</p>
<pre><code class="language-C#">public class HomeController : Controller
{
    [HttpPost]
    public JsonResult StartBigStuff(int howMuchStuff)
    {
        var model = new StartBatchModel()
        {
            BatchId = Guid.NewGuid(),
            NumberOfThingsToDo = howMuchStuff
        };

        _bus.Send(new TriggerBigStuff()
        {
            Id = model.BatchId,
            HowMuchStuff = model.NumberOfThingsToDo,
        });

        // Return the Id to the client to query for status
        return Json(model, JsonRequestBehavior.AllowGet);
    }

...

    public HomeController(IBus bus, IStatusStoreClient statusStoreClient)
    {
        _bus = bus;
        _statusStoreClient = statusStoreClient;
    }

    private readonly IBus _bus;
    private readonly IStatusStoreClient _statusStoreClient;
}
</code></pre>
<h3>Tracking the work</h3>
<p>To pick up the message that was sent by the MVC Controller, the <code>BigStuffHandler</code> class was created.
This class performs a large task and updates a central source with the correlation ID every time a piece of work is completed.
The <code>BigStuffHandler</code> class is an example of a <code>MessageHandler</code> in version 5 of NServiceBus.
Whenever <code>_bus.Send(new TriggerBigStuffMessage()...</code> is called, the <code>Handle(TriggerBigStuff message)</code> method is eventually called with that same message.</p>
<p>The <code>IStatusStoreClient</code> that is injected into the <code>BigStuffHandler</code> constructor is a client for a WebAPI instance.
The WebAPI that <code>IStatusStoreClient</code> represents will store the completed commands in memory.
In practice, you should use non-volatile storage of some kind rather than in-memory storage.</p>
<pre><code class="language-C#">public class BigStuffHandler : IHandleMessages&lt;TriggerBigStuff&gt;
{
    public void Handle(TriggerBigStuff message)
    {
        Console.WriteLine("Handling some big stuff.");
        for (var index = 0; index &lt;= message.HowMuchStuff; index++)
        {
            var workId = DoSomeWorkForABatch(message, index);
            _statusStoreClient.AddCompletedCommandToBatch(batchId: message.Id, messageId: workId);
        }
    }

    private Guid DoSomeWorkForABatch(TriggerBigStuff message, int index)
    {
        Thread.Sleep(10);
        Console.WriteLine(
		    "Batch Id: " + message.Id + 
			" - Handling message " + index + " of " + message.HowMuchStuff);
        // Just pretend we did some stuff
        return Guid.NewGuid();
    }

...
}
</code></pre>
<h3>Polling for progress</h3>
<p>This simplistic polling implementation is used to ask for the status of a batch in intervals.
Every time the endpoint is called, we take the result of the request and update the progress bar with the <code>setProgress</code> function.</p>
<pre><code>...

    $scope.batches = [];

    var howLongBetweenPolls = function (batchModel) {

        var milliseconds = batchModel.NumberOfThingsToDo / 500;

		// Ensure we don't poll too frequently or infrequently

        if (milliseconds &lt; 250)
            milliseconds = 250;
        if (milliseconds &gt; 3000)
            milliseconds = 3000;

        return milliseconds;
    };

...

    var getStatus = function (batchId) {
        var deferred = $q.defer();
        $http.get('/Home/Status?id=' + batchId)
            .then(function (batchStatus) {
                deferred.resolve(batchStatus);
            });
        return deferred.promise;
    };

    var setProgress = function (batchModel, batchStatus) {
        batchModel.progress = 
		    batchStatus.ItemsCompletedCount / batchModel.NumberOfThingsToDo;
        batchModel.percentComplete = 
		    (batchModel.progress * 100).toFixed(2);
        batchModel.percentCompleteText = 
		    batchModel.percentComplete.toString() + '%';
        batchModel.complete = 
		    batchModel.percentComplete &gt;= 100;
    };

    var pollForStatus = function (batchModel) {
        var timeBetweenPolls = howLongBetweenPolls(batchModel);

        $timeout(function () {
            getStatus(batchModel.BatchId).then(
                function (response) {
                    var batchStatus = response.data;
                    setProgress(batchModel, batchStatus);

                    if (batchModel.complete)
                        return;

                    pollForStatus(batchModel);
                });
        }, timeBetweenPolls);
    };

...

</code></pre>
<h3>Querying for the status</h3>
<p>Finally, we expose a method on the <code>HomeController</code> to allow the JavaScript to query the WebAPI instance for the status of any individual task.</p>
<pre><code class="language-C#">public class HomeController : Controller
{
...

    /// &lt;summary&gt;
    /// Query for the status of a task
    /// &lt;/summary&gt;
    [HttpGet]
    public JsonResult Status(string id)
    {
        var batchStatus = _statusStoreClient.GetBatchStatus(id);

        var completedCommandCount =
            batchStatus == null ? 0
                : batchStatus.ItemsCompleted.Count;

        var model = new BatchStatusModel()
        {
            BatchId = id,
            ItemsCompletedCount = completedCommandCount
        };

        return Json(model, JsonRequestBehavior.AllowGet);
    }

...
}
</code></pre>
<h3>How else can it be done?</h3>
<p>There is much to consider, and every implementation has different needs.</p>
<p>The sample handled the entire process with one single message and one single handler. That handler explicitly called the <code>IStatusStoreClient</code>. Instead of using that approach the original handler could have published events such as <code>PieceOfBigStuffCompleted</code>, which would be picked up by another handler to set progress.</p>
<p>Another option is to divide the "big stuff" process into discrete tasks with individual messages for each task. Those individual messages could then be used to track the overall completion of the process. Doing this would have prevented the code from blocking a thread for the duration of the "big stuff" processing within a single message handler.</p>
<p>These are only two of many alternatives and each one has its advantages and disadvantages.</p>
<h4>What haven't we solved?</h4>
<p>I have avoided the more difficult problem of actually telling the user how much time is remaining. That would involve more complicated code and educated guesswork as to how long each step is taking on average.</p>
<p>With all of that said, I am sure your users would love to know how quickly your code runs. Now get out there and let your users know if their imports or reports are moving along!</p>
<p>Feel free to <a href="https://github.com/colin-higgins/ProgressBar.NServiceBus" target="_blank">check out the code</a>.</p>
<p>Enjoy!</p>
<h2>Additional Reading</h2>
<ul>
<li><a href="http://docs.particular.net/nservicebus/handlers/" target="_blank">Message Handlers</a></li>
<li><a href="http://docs.particular.net/samples/web/asp-mvc-injecting-bus/" target="_blank">Dependency Injecting the Bus</a></li>
</ul>
