<div class="post-share share-buttons">
    <!-- Facebook -->
    <a ng-href="http://www.facebook.com/sharer.php?u={{ssUrl}}" target="_blank">
        <img src="/img/social/facebook.png" alt="Facebook" />
    </a>

    <!-- Google+ -->
    <a ng-href="https://plus.google.com/share?url={{ssUrl}}" target="_blank">
        <img src="/img/social/google.png" alt="Google" />
    </a>

    <!-- LinkedIn -->
    <a ng-href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{ssUrl}}" target="_blank">
        <img src="/img/social/linkedin.png" alt="LinkedIn" />
    </a>
    <!-- Reddit -->
    <a ng-href="http://reddit.com/r/programming/submit?url={{ssUrl}}&amp;title={{ssTitle}}" target="_blank">
        <img src="/img/social/reddit.png" alt="Reddit" />
    </a>

    <!-- StumbleUpon-->
    <a ng-href="http://www.stumbleupon.com/submit?url={{ssUrl}}&amp;title={{ssTitle}}" target="_blank">
        <img src="/img/social/stumbleupon.png" alt="StumbleUpon" />
    </a>

    <!-- Twitter -->
    <a ng-href="https://twitter.com/share?url={{ssUrl}}&amp;text=Check%20out%20this%20post%20from%20Scion%20Software&amp;hashtags=ScionSoftware" target="_blank">
        <img src="/img/social/twitter.png" alt="Twitter" />
    </a>
</div>
