<!DOCTYPE html>

<html lang="en" ng-app="SpikeBytes">

<head>
    <title>Higgins Ninja</title>

    <script src="/js/angular.min.js"></script>
    <script src="/js/angular-route.min.js"></script>
    <script src="/js/angular-touch.min.js"></script>

    <script src="/angular/SpikeBytes.js"></script>
    <script src="/angular/services/BlogService.js"></script>
    <script src="/angular/services/ReadingService.js"></script>
    <script src="/angular/directives/hnTap.js"></script>
    <script src="/angular/MainController.js"></script>
    <script src="/angular/BlogController.js"></script>
    <script src="/angular/AboutController.js"></script>
    <script src="/angular/ResumeController.js"></script>
    <script src="/angular/ReadingController.js"></script>
    <script src="/Angular/MenuController.js"></script>
    <script src="/Scripts/jquery-2.1.1.js"></script>

    <!--198.199.90.151-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/css/site.css" rel="stylesheet" />
    <link href="/css/media-styles.css" rel="stylesheet" />

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64904568-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>

<body>
    <div class="header-section">
        <div class="header-content">

            <div class="navigation desktop">
                <span class="btn-group navbar-left">
                    <a href="/" id="homeTab" class="btn btn-primary">Blog</a>
                    <a href="/About" id="aboutTab" class="btn btn-primary">About</a>
                    <a href="/Resume" id="resumeTab" class="btn btn-primary">Resume</a>
                    <a href="/Reading" id="readingTab" class="btn btn-primary">Reading</a>
                </span>

                <span class="navbar-right">
                    <span class="fa-stack fa-lg">
                        <a href="http://github.com/SpykeBytes" target="_blank"><i class="fa fa-stack-2x fa-github"></i></a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="http://twitter.com/SpykeBytes" target="_blank"><i class="fa fa-twitter fa-stack-2x"></i></a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="http://www.linkedin.com/in/cphiggins" target="_blank"><i class="fa fa-stack-2x fa-linkedin"></i></a>
                    </span>
                    <span class="fa-stack fa-lg">
                        <a href="http://stackoverflow.com/users/1659016/Spykebytes" target="_blank"><i class="fa fa-stack-2x fa-stack-overflow"></i></a>
                    </span>
                </span>
            </div>

            <div class="mobile-navigation mobile">
                <ul class="navigation-hamburger hamburger" ng-controller="Menu" ng-mouseout="handleMouseOut()" ng-mouseover="cancelMouseOut()">
                    <li class="burger-button" hn-tap="toggleMenu()">
                        <h4>Navigate</h4>
                        <i class="fa fa-align-justify fa-2x"></i>
                    </li>
                    <li ng-hide="!showMenu">
                        <ul>
                            <li><a href="/">Blog</a></li>
                            <li><a href="/About">About</a></li>
                            <li><a href="/Resume">Resume</a></li>
                            <li><a href="/Reading">Reading</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="contact-hamburger hamburger" ng-controller="Menu" ng-mouseout="handleMouseOut()" ng-mouseover="cancelMouseOut()">
                    <li class="burger-button" hn-tap="toggleMenu()">
                        <h4>Follow me</h4>
                        <i class="fa fa-align-justify fa-2x"></i>
                    </li>
                    <li ng-hide="!showMenu">
                        <div class="fa-lg">
                            <a href="http://github.com/SpykeBytes" target="_blank">
                                <i class="fa fa-github fa-2x"></i>Github
                            </a>
                        </div>
                        <div class="fa-lg">
                            <a href="http://twitter.com/SpykeBytes" target="_blank">
                                <i class="fa fa-twitter fa-2x"></i>Twitter
                            </a>
                        </div>
                        <div class="fa-lg">
                            <a href="http://www.linkedin.com/in/cphiggins" target="_blank">
                                <i class="fa fa-linkedin fa-2x"></i>LinkedIn
                            </a>
                        </div>
                        <div class="fa-lg">
                            <a href="http://stackoverflow.com/users/1659016/Spykebytes" target="_blank">
                                <i class="fa fa-stack-overflow fa-2x"></i><span class="overflow-text">StackOverflow</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="banner">
                @*                <h1>SpikeBytes</h1>
                    <span>
                        <img src="/img/abstractgalaxy.png" />
                        <small>Spaced out programmer</small>
                    </span>*@

                @RenderSection("PageBanner", required: false)
            </div>
        </div>
    </div>

    <div class="content-section">
        <div class="content main-content">

            @RenderBody()

        </div>

        <div class="content">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- Banner - Bottom -->
            <ins class="adsbygoogle"
                style="display: block"
                data-ad-client="ca-pub-9074449405350285"
                data-ad-slot="2042687254"
                data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>

        </div>

    </div>
</body>

</html>
