<h2>I can help you:</h2>
<ul class="styled">
    <li>Build and maintain your product</li>
    <li>Automate repetitive tasks</li>
    <li>Redesign systems with low risk</li>
    <li>Improve your architecture</li>
    <li>Analyze and fix performance problems</li>
    <li>Build a proof of concept</li>
    <li>Perform GAP analysis</li>
</ul>

<h3>Things people have said about me: </h3>

<div class="list-group">
    <ul>
        <li class="list-group-item">
            <p>
                Colin demonstrated a very high level of craftsmanship.
                Colin is a pragmatic developer capable of working on anything in the technology stack.
                His work included stops in API, service layer, ETL, MVC, unit test and automation.
                His professionalism and due diligence on all epics, stories
                and testing helped our team gain momentum in his time here.
                He was a pleasure to work with and I would welcome him back on my team at any moment.
            </p>
        </li>
        <li class="list-group-item">
            <p>
                Colin is constantly striving to make himself better.
                He has an insatiable thirst for knowledge.
                In our time together I saw him progress greatly in many aspects.
                I would hire him again in an instant.
            </p>
        </li>
        <li class="list-group-item">
            <p>
                Colin was probably the most enthusiastic developer I've worked with-
                both in terms of personality, and in his enthusiasm to build and improve projects.
                It's almost unavoidable to learn something new working with him.
        </li>
        <li class="list-group-item">
            <p>
                Colin is always willing to share his knowledge with others
                by means of workshops or a friendly one on one.
                He is also willing to go the extra mile to make sure code
                is clean and that everyone has a solid understanding of the code base.
                Colin has been an inspiration in my software engineering career,
                and I am thankful for the opportunity to work with him.
            </p>
        </li>
        <li class="list-group-item">
            <p>
                Colin has proven himself to be a highly skilled
                developer as well as professional, collaborative, and personable.
                He brings a strong work ethic and sense of ownership to bear on his assignments;
                he delivers quality results on time and is a proactive and creative problem solver.
            </p>
            <p>
                Colin's work has been integral to improving the overall performance, data management,
                and stability of our project and his expertise has helped guide the evolution of
                this tool into its next phase. His expertise in javascript, especially in angular
                and node, eased the workload on our internal team streamlined the delivery and
                made sure we were able to hit all projected deadlines.
            </p>
            <p>
                Needless to say I would highly recommend Colin for development projects and
                am confident he would be a valuable addition to any team in a range of roles
                from coder to technology consultant.
            </p>
        </li>
    </ul>
</div>